# place me at ~/

[user]
    name = Jorge Herrera
    email = jorge.herrera@shazam.com

[core]
    excludesfile = /Users/jorge.herrera/.gitignore_global
    #editor = "mate -w"
    #edit = "subl -n -w"
    editor = vim

; [difftool "sourcetree"]
;     cmd = opendiff \"$LOCAL\" \"$REMOTE\"
;     path =

[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    g = grep --extended-regexp --break --heading --line-number
    unstage = reset HEAD --
    amend = commit --amend
    gpr = pull --rebase --stat
    gpo = push origin HEAD --
    short = log --pretty=format:'%h - %ar, %an : %s'
    report = log --pretty=format:'%C(green)%h%C(reset) - %C(blue)%ad%C(reset) : %C(yellow)%an%C(reset) : %C(reset)%s' --date=short

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[push]
    default = simple

[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
