# place me at ~/

[user]
    name = Jorge Herrera
    email = jorgeh@ccrma.stanford.edu
[core]
    excludesfile = /Users/jorgeh/.gitignore_global
    #editor = "mate -w"
    edit = "subl -n -w"
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[push]
    default = simple
